@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.disclaimer {
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;

    padding: 10px;

}

.disclaimer a {
    text-decoration: underline;
    transition: all 0.3s ease 0s;
    color: black;
}

.disclaimer a:hover {
    text-decoration: underline;
    font-weight: bolder;
    color: rgb(0, 136, 169);
}

.exit-disclaimer {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 0.5rem;
    right: 0.1rem;
    
    width: 2rem;
    aspect-ratio: 1;

    background-image: url("/assets/nav-bar/nav-mobile-close.png");
    background-repeat: no-repeat;
    background-size: 20px;
    border: 0;
    background-color: transparent;
}

.exit-disclaimer:hover {
    filter: invert(50%);
    cursor: pointer;
}

.disclaimer[data-visible="false"] {
    display: none;
}

@media (max-width: 35em) {
    .disclaimer {
        position: fixed;
        top: 0;
        left: 0;
        top: 92%;

        background-color: white;
        
        padding-top: 10px;
    }

}