
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;

}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.main {
    min-height: 80vh;
    width: auto;
    background-color: #252525;

    padding-top: 20vh;
}

.main .container {
    border: white solid 2px;
    max-width: min();
    min-height: 40vh;
    
    display: block;
    margin: auto;
}

.footer {
    min-height: 15vh;
    width: auto;

    background-color: black;
}