
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.main {
    min-height: 77vh;
    width: auto;
    
    background-color: #252525;

    padding-top: 50px;
}

.main-container {
    height: 65vh;
    width: 90%;
    margin: auto;

    background-color: rgba(0, 0, 0, 0.271);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

    padding: 20px;
}

.sections-menu {
    border: 2px white solid;
    width: 70vw;
    margin: auto;
}

.sections-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;

    justify-content: space-evenly;
}

.sections-menu li {
    color: white;

    border: 2px white solid;
    width: 10vw;
}

@media (max-width: 35em) {
    body {
        overflow-y: auto;
    }
}