@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');

body {
    background-image: url('assets/bg.jpg');
    background-size: 960px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: 'JetBrains Mono', monospace;

    gap: 20px;

    overflow: hidden;
    color: white;
}

.main-container {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    width: 300px;
    height: 500px;

    padding: 20px;

    text-align: center;
}

.main-container #message {
    height: 80%;
}

.footer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer img {
    width: 66px;
    height: 48px;
    opacity: 0.8;
}

#footer {
    color: rgba(255, 255, 255, 0.9);
    font-weight: bolder;
    margin: 0;
}

#vertical-hr {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    width: 2px;
    height: 100%;
    border: none;
    margin: 0 10px;
}



#horizontal-hr {
    color: white;
    background-color: white;
    height: 2px;
    border: none;
    width: 100%;
    margin: 20px 0;
}