@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

@font-face {
    font-family: pixel_title;
    src: url('../assets/fonts/pixel_title.TTF');
  }


* {
    transition-property: color, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

html {
    cursor: url('../assets/images/cursor.png'), auto;

}

body {
    background-image: url('../assets/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #4193E2;

}

.text {
    font-family: pixel_title;
    color: #345A44;

    position: absolute;

    top: 400px;
    right: 300px;

    width: 750px;

    font-size: 60px;
    text-align: center;

}


.button {
    background-image: url('../assets/images/text.png');
    background-repeat: no-repeat;
    background-size: 100%;
    
    padding: 5px;
    text-align: center;
    
    width: 128px;
    height: inherit;
    font-family: 'Pixelify Sans', sans-serif;
    
    font-size: 40px;
    font-weight: bolder;
    color: #EC6736;
    font-size: 30px;
    
    position: absolute;
    
    top: 530px;
    right: 350px;
    
}

.button a {
    text-decoration: none;
    color: #EC6736;
}

.button:hover {
    opacity: 0.6;
    cursor: url('../assets/images/cursor.png'), auto;
}

.no-hello {
    position: absolute;

    font-size: 25px;
    padding: 10px;


    top: 530px;
    right: 550px;
}


p {
    position: absolute;

    font-size: 25px;

    top: 600px;
    right: 550px;
    color: #345A44;
    font-family: pixel_title;

}

#bunny {
    position: absolute;

    font-size: 25px;

    top: 600px;
    right: 350px;

    display: none;
    /* display: block; */
}